header.header.clearfix
	.logo.lfloat(style="height:50px;")
		a(href="/admin" target="_self") 时间去哪了
	ul.headnav.rfloat
		li.homepage
			a(href="/",target="_blank") 官网首页
		li.exit
			a(href="/logout",target="_self") 退出
		li.lmenu 菜单