doctype html
html
    head
        base(target="iframe")
        include ../headData
        link(rel='stylesheet', href='/umeditor/themes/default/css/umeditor.min.css')
        link(rel='stylesheet', href='/js/page/css/style.css')
        link(rel='stylesheet', href='/css/admin.css')
    body
        block content

