.submenu
    dl
        dt 博客管理
        dd
            a(href="/admin/bloglist") 博文列表
        dd
            a(href="/admin/blog") 写博文
        dd
            a(href="/admin/sort") 分类列表
        dd
            a(href="/admin/bloglist?recycle=1") 回收站
        dt 个人中心
        dd
            a(href="/users/userbasic") 基本信息
        dd
            a(href="/users/usereducation") 教育信息
        dd
            a(href="/users/userwork") 工作信息
        dd
            a(href="/users/changepass") 修改密码
        dd
            a(href="/users/changehead") 头像设置
        dt 系统设置
            dd
                a(href="/conf/codesetting") 验证码设置