script(src='/js/jquery.cookie.js')
script(src='/bootstrap-3.3.4/js/bootstrap.min.js')
//script(src='/jqueryUiDate/js/jquery.ui.core.min.js')
//script(src='/jqueryUiDate/js/jquery.ui.widget.min.js')
//script(src='/jqueryUiDate/js/jquery.ui.datepicker.min.js')
script(src='/js/jquery-wen_plug_details.js')
script(src='/js/jquery-wen_plug_cityLinkage.js')
script(src='/js/jquery.Jcrop.js')
script(src='/js/jquery.form.js')