//
   Created by geong on 2014/5/21.
extends layout
block content
    .content
        h1(style="font-size: 18px;margin-top: 3em;border-bottom: solid 1px #ccc;padding-bottom: 5px;") 找回密码
            span(style="font-weight:nomal;font-size:12px;padding-left:10px;color:#999;") (通过邮箱找回密码)

        form(method="post",id="forgetData",name="forgetData",action="/forgetpass",style="margin-top:5em;")
            ul
                li
                    label 请输入注册邮箱：
                    input(type="text",name="email",style="width:12.5em;")
                li
                    label 验证码：
                    input(type="text",name="code",style="width:5em;")
                    img#regCodeUrl.CodeUrl(src="/code/textjpg?#{new Date().getTime()}",alt="",title="点击更换")
            div.send_btn
                button#sendForgetData.btn(type="submit",style="margin-left:5px;") 确定
                -if(locals.error)
                    span.alert.alert-error(style="margin-left: 10px;") #{error}
        style.
            #forgetData li{
                margin-bottom: 2em;
            }
            #forgetData li label{
                display:inline-block;
                width:420px;
                text-align: right;
            }
            div.send_btn{
                padding-left:416px;
            }