extends layout
block content
    div.content.home_content
        h1.time_where 时间去哪了？
        include posts

        div.log_box
            div.log_time
                span 2014-11-11
            div.log_time_ico
                div.ico_arrow
            div.log_box_module
                div.log_box_body
                    h2 内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容。
                div.log_box_arrow
                    div.log_box_arrow1