doctype html
html
    head
        include headData
    body
        div.login_instrl
            div.show_instrl
                div.details_3d
                    div.instrl_pt
                        img(src="/images/Lighthouse.jpg",alt="")
        div.power_btn
            div.power_btn_ico &#xF011;
        include loginbox

        footer
        #gotop TOP
        include footData