div.login_box
    h1.login_box_title 登录
    form.login_data.form-inline(method="post")
        ul.ui_ul_input
            li.login_name
                label(for="email") 邮箱：
                input#email.login_name_txt.form-control.inlineblock(type="text",name="email")
            li.login_pass
                label(for="password") 密码：
                input#password.login_pass_txt.form-control.inlineblock(type="password",name="password")
                a.forgetpw(href="/forgetpass",target="_blank") 忘了？
            li.login_code
                label(for="codeIMG") 验证码：
                input#codeIMG.login_codeIMG_txt.form-control.inlineblock(type="text",name="codeIMG")
                img#loginCodeUrl.CodeUrl(src="/code/textjpg",alt="",title="点击获取验证码")
                div.msg_txt
        .login_msg 出错信息
        .form_actions
            button#loginBtn.btn.btn-info(type="submit") 登&nbsp;录
    //
        -if(locals.error)
            div.alert.alert-error #{error}