doctype html
html
    head
        include headData
    body
        include topheader
        div.socket_content
            .socket_box
                .online_body.module_page
                    .online_t
                        img.online_ico(src="images/head.gif",alt="")
                        div.online_name(data-id="sk1") 名字
                        .groupAdd 创建讨论组
                        .groupBtn 讨论组
                    #online_list.online_list
                        .scroller
                    .group_list(style="display:none;")
                        div.scroller
                .message_body.module_page
                    .scroller.message_list
                        .media
                            .media-left
                                a(href="#")
                                    img.media-object(src="images/head.gif",alt="")
                            .media-body
                                h4.media-heading 标题
                                p 这是就是消息体了这是就是消息体了这是就是消息体了这是就是消息体了
                .socketBox_page.module_page.activate_page
                    .socketBox_msgT.clearfix
                        .back 返回
                        span.dname_show 所有人
                        .members 人员
                    .socketBox_msgM
                        .msgBody
                            .msgList.msgList_your.clearfix
                                .msgListYour_ico.lfloat
                                    img(src="images/head.gif",alt="")
                                .msgListYour_txt
                                    .txt_module 说点什么吧
                            .msgList.msgList_me.clearfix
                                .msgListMe_ico.rfloat
                                    img(src="images/head.gif",alt="")
                                .msgListMe_txt
                                    .txt_module 说点什么好呢？
                    .socketBox_msgB
                        .sendBoxBtn
                            .face
                                img(src="images/face.png",alt="",id="sendFace")
                                img(src="images/face1.png",alt="",id="sendFile")
                            input.form-control(type="text",id="inputMsg")
                            button.btn.btn-default(type="button",id="sendBtn") 发送
                        .sendBoxInfo
                            .face_ico
                                -for(var i=1;i<85;i++)
                                -if(i<10)
                                -var ii = '00' + i
                                -if(i>=10)
                                -var ii = '0' + i
                                img(src="images/faces/#{ii}.png",alt="")
                            .file_ico
                                .uppic
                                    form#uploadForm(action="",target="",method="post",enctype="multipart/form-data")
                                        input.uploadfile(type="file",name="upfile",style="width:auto; cursor: pointer;")
                                        img.uploadIco(src="images/file.png",alt="")
                                .recordBox
                                    .recordIco.recordStar(title="录音")
                                        img(src="images/audio1.png",alt="")
                                    .recordIco.recordStop(style="display: none;",title="停止")
                                        img(src="images/audio1.png",alt="")
                                    span(style="display:none;position: absolute;top: 24px;left:-10px;width:80px;color:#fff;")
                                        |录音中
                                        img(src="images/ajax-loader.gif",style="height: 6px;vertical-align: middle",alt="")
        .skloginBoxBG
        .skloginBox
            .skloginbody
                h1 Hi,已为您随机选择了昵称：
                    span.randomNickName
                .nickname
                    input.nicknamediy(type="checkbox")
                    |自己来：
                    input.nicknamev(type="text")
                .skloginBtn
                    button.sendNickName.btn(type="button") 确定
                    button.changeNickName.btn(type="button") 换个昵称
        .popupBoxBG
        .popupBox
            .popupBoxBody
                .popupBoxT
                    |讨论组名称：
                    input.groupTitle.form-control(type="text",maxlength="14")
                    .closePopup ×
                .popupBoxM
                    .onlineList
                        .onlineList_t
                            h2 在线列表
                        .online_list.copy_onlineList
                            .scroller
                    .selectAdd_list
                        .selectAddList_t
                            h2 已选择联系人
                        .selectAddList_m
                            .scroller
                .popupBoxB
                    button.groupSend.btn(type="button") 确定
                    button.groupcancel.btn(type="button") 取消
        nav.navbar.navbar-default.navbar-fixed-bottom
            .row.navsocket
                .col-xs-4.text-center.online_btn.navb_btn 在线列表
                .col-xs-4.text-center.msg_btn.navb_btn 消息
                    span.newMsgTip.animated new
                .col-xs-4.text-center.activate.cs_btn.navb_btn 吹水吧
        style.
            html,body{
                height:100%;
                width:100%;
                overflow: hidden;
                padding-top:0;
            }
            .message_list .media{
                padding: 10px 10px 0;
                border-bottom: solid 1px #efefef;
                margin-top: 0;
            }
            .message_list .media-left{
                float:left;
            }
            .message_list .media-body{
                width:60%;
                display: block;
            }
            .message_list .media p{
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .media-object{
                max-width: none;
                width:40px;
                height:40px;
                border-radius: 20px;
            }
            .navbar{
                margin-bottom: 0;
            }
            .navbar-fixed-top{
                position: static;
            }
            .module_page{
                position: absolute;
                height:100%;
                width:100%;
                top:0;
                left:100%;
                -webkit-transition: all 0.3s ease 0s;
                -moz-transition: all 0.3s ease 0s;
                -o-transition: all 0.3s ease 0s;
                transition: all 0.3s ease 0s;
                display: -moz-box;
                -moz-box-orient: vertical;
                -webkit-box-orient: vertical;
                box-orient: vertical;
                display: flex;
                flex-direction: column;
                display: -webkit-box;
            }
            .activate_page{
                left:0 !important;
            }
            .scroller {
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                -webkit-transform: translateZ(0);
                -moz-transform: translateZ(0);
                -ms-transform: translateZ(0);
                -o-transform: translateZ(0);
                transform: translateZ(0);
                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                -webkit-text-size-adjust: none;
                -moz-text-size-adjust: none;
                -ms-text-size-adjust: none;
                -o-text-size-adjust: none;
                text-size-adjust: none;
            }
            .socket_box{
                height:100%;
            }
            .skloginBoxBG,.popupBoxBG{
                height: 100%;
                width: 100%;
                position: absolute;
                z-index: 2000;
                top:0;
                left:0;
                background-color: rgba(0,0,0,.5);
            }
            .skloginBox,.popupBox{
                position: fixed;
                z-index: 2001;
                width: 300px;
                height:200px;
                left:50%;
                margin-left: -150px;
                top:50%;
                margin-top:-120px;
                padding:8px;
                border:solid 1px #efefef;
                background-color: rgba(0,0,0,.3);
                border-radius: 6px;
            }
            .popupBoxBG{
                display:none;
            }
            .popupBox{
                display:none;
                width: 500px;
                height:400px;
                z-index: 2002;
                margin-left: -250px;
                margin-top: -180px;
            }
            .groupTitle{
                display: inline-block;
                width:60%;
            }
            .popupBox h2{
                font-size: 16px;
                margin-top:0;
            }
            .skloginbody,.popupBoxBody{
                height: 100%;
                background-color: #fff;
            }
            .skloginbody h1{
                font-size: 14px;
                padding:2em 1em 1em;
                margin-top:0;
            }
            .nickname{
                padding:1em;
                color: #ccc;
            }
            .nicknamediy{
                vertical-align: middle;
            }
            input.nicknamev{
                background-color: #efefef;
            }
            .skloginBtn{
                padding:1em;
                text-align: center;
            }
            .skloginBtn button{
                margin:0 .5em;
            }
            .socket_content{
                position: relative;
            }
            .popupBoxT{
                padding: 10px 2em;
                border-bottom: solid 1px #ccc;
            }
            .popupBoxT h1{
                font-size: 14px;
            }
            .closePopup{
                position: absolute;
                right: 8px;
                top: 8px;
                height: 30px;
                width: 30px;
                border: solid 4px #ccc;
                border-radius: 0 0 0 60px;
                background-color: #666;
                color: #fff;
                text-align: right;
                line-height: 15px;
                font-size: 30px;
                border-top: 0;
                border-right: 0;
                cursor: pointer;
            }
            .popupBoxM{
                display: -moz-box;
                display: flex;
                display: -webkit-box;
                height: 270px;
            }
            .popupBoxM .online_ico{
                width:30px;
                height:30px;
            }
            .popupBoxM .online_name {
                margin-top:.5em;
            }
            .popupBoxM .onlineList{
                display: block;
                width:50%;
                overflow: hidden;
                overflow-y: auto;
                border-right: solid 1px #ccc;
            }
            .popupBoxM .selectAdd_list{
                -moz-box-flex: 1;
                -webkit-box-flex: 1;
                box-flex: 1;
                flex: 1;
            }
            .popupBoxB{
                padding-top:1em;
                border-top:solid 1px #ccc;
                text-align: center;
            }
            .popupBoxB button{
                margin:0 1em;
            }
            .onlineList_t,.selectAddList_t{
                padding:.5em 0 .5em 1em;
            }
            .online_list,.selectAddList_m{
                -moz-box-flex: 1;
                -webkit-box-flex: 1;
                box-flex: 1;
                flex: 1;
                overflow: hidden;
            }
            .popupBoxM .onlineList, .popupBoxM .selectAdd_list {
                display: -moz-box;
                display: flex;
                display: -webkit-box;
                height: 100%;
                -moz-box-orient: vertical;
                -webkit-box-orient: vertical;
                box-orient: vertical;
                flex-direction: column;
            }
            .socketBox_page{
                border: solid 1px #333;
                width:100%;
                height:100%;
                position: relative;
                background-color:#ececec;
                display: -moz-box;
                -moz-box-orient: vertical;
                -webkit-box-orient: vertical;
                box-orient: vertical;
                display: flex;
                flex-direction: column;
                display: -webkit-box;
            }
            .online_name {
                padding-left: 50px;
            }
            .socketBox_msgT, .socketBox_msgB {
                width:100%;
                background-color: #474747;
            }
            .socketBox_msgT {
                height: 40px;
                line-height: 40px;
                top:0;
                color:#fff;
                text-align: center;
                border-bottom: solid 1px #999;
            }
            .socketBox_msgB{
                bottom: 0;
                border-top: solid 1px #999;
                height: auto;
                padding: .5em 0;
                position: relative;
                left:0;
            }
            .sendBoxBtn{
                display: -moz-box;
                display: flex;
                display: -webkit-box;
            }
            .face{
                /*-moz-box-flex: 1;
                -webkit-box-flex: 1;
                box-flex: 1;
                flex: 1;*/
                width:90px;
            }
            .face img {
                margin-left: 10px;
                width:30px;
                cursor: pointer;
                vertical-align: middle;
            }
            .msgto{
                margin-left:1em;
            }
            .msgto label {
                color:#fff;
            }
            .msgto select{
                margin-left:5px;
            }
            .socketBox_msgB #inputMsg{
                display: block;
                border: solid 1px #ccc;
                box-shadow: inset 1px 1px 3px #333;
                -moz-box-flex: 4;
                -webkit-box-flex: 4;
                box-flex: 4;
                flex: 4;
                width:auto;
            }
            .socketBox_msgB #sendBtn{
                margin:0 1em;
                -moz-box-flex: 2;
                -webkit-box-flex: 2;
                box-flex: 2;
                flex: 2;
                outline: none;
            }
            .face_ico,.file_ico{
                display: none;
                padding:10px 5px;
            }
            .face_ico img{
                margin:4px;
            }
            .socketBox_msgB #sendBtn:active{
                background-color: #ccc;
                box-shadow: none;
            }
            .uppic,.recordBox{
                width: 24px;
                height: 24px;
                display: inline-block;
                position: relative;
                margin-left: 1em;
            }
            .uppic{
                overflow: hidden;
            }
            .uploadIco,.recordIco img{
                width:24px;
                height:24px;
                border:none;
                cursor: pointer;
            }
            .socketBox_msgM{
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                padding: 1em 0;
                position: relative;
                -moz-box-flex: 1;
                -webkit-box-flex: 1;
                box-flex: 1;
                flex: 1;
                overflow-y: auto;
            }
            .back,.members{
                position: absolute;
                display: none;
            }
            .back{
                left:10px;
            }
            .members{
                right:10px;
                top:0;
            }
            .dname_show{
                width: 14em;
                display: inline-block;
                overflow: hidden;
                white-space: nowrap;
            }
            .msgList{
                margin-bottom: 1em;
            }
            .msgListYour_ico,.msgListMe_ico{
                width: 40px;
                height:40px;
                margin:0 15px;
            }
            .msgListYour_ico img,.msgListMe_ico img{
                width: 100%;
                height:100%;
                border:solid 1px #ccc;
                border-radius: 4px;
            }
            .msgListYour_txt,.msgListMe_txt{
                margin:0 70px;
            }
            .txt_module{
                background-color: #fff;
                display: inline-block;
                border-radius: 10px;
                padding: 10px;
                position: relative;
            }
            .txt_module:before{
                content: "";
                height: 11px;
                width: 11px;
                color: #fff;
                position: absolute;
                left: -10px;
                top: 7px;
                background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAWCAYAAADEtGw7AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAASRJREFUeNq01LFKA0EQxvE1yEmMMRgLbSIqAUEU7LSzEBsrtbIRwbxEWkEI5BkE0UZrn8PCysonSBWxEEQc/wOzcEou3pnJBz8Cl+VbLtnZICLB2YWMofRULJ6lbUlFHzRHLKzjVn5Fv+jgyhYUKUzQQk8GRBcs4g193OMI5SGFu7jMKoyZ0MWkjU74mWe84wkrqGENMyFHYnGCR2wGp5Ts8wPHePUu1rzgbBzFmgd0XZozjtG1jJisIzWHO3x5F5ewhBt8ehbH8lV0bYAKJZ7jYX+uDscJWljWs19kQP4qn8c+zrGdZ/ryFMdMYwOHOEATFY9izaTdGVvYw45tUEc5PRdFi9MbVNGwt1i3DRYwi6n/FqeT2M9UtdKaV/HAa+JbgAEALlYXH2MTJmMAAAAASUVORK5CYII=") no-repeat;
                background-size: 100%;
            }
            .msgListMe_txt{
                text-align: right;
            }
            .msgListMe_txt .txt_module {
                background-color: #36f;
            }
            .msgListMe_txt .txt_module{
                text-align: left;
            }
            .msgListMe_txt .txt_module:before{
                background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAWCAYAAADEtGw7AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAUlJREFUeNq0lL1KA0EURmfjIghWPoM2VkJ8iJR2VlaKik8gFgZsBEGwEhQLUdQHsLAICIqFRcDSP0REIkpAUIJECbueK7cIMpud2Ww+OAyEu2cnd+5OUJyNY2PMCpRNjinougxTvRBL9mCxF2LJqr5gqEvvcMHyo7TkBqah31MoG9qRZwM9vKTUYRsq1S1zZisYnzMDLCWY1LUPRtLE7WnALXzAI4yBSEf/1S1JS0OPvzkIxZSaa1i3HV43+YIJ+MlbvAB3SeOWNQew32mOs6QC8xDlKT7XuW+kfXmukd0dwwy82QrCDNJv2NWxuk8q8hHLh/QMG3AEr52KQ0ehzOgpbMKFraeu4lj7KIIqHMKJ9jNKk3Kv/ImjNlkLPuEBLnWUrvQyavkchIjXoAnvUIMneNHLpumywyRxWR+OskpsCWLnW9MvvwIMANROU6D1D/OoAAAAAElFTkSuQmCC") no-repeat;
                background-size: 100%;
                right: -10px;
                left:auto;
            }
            .onling_n{
                padding:.5em;
                text-align: center;
            }
            .sayname{
                margin-bottom: 5px;
                color:#555;
            }
            .saytime{
                margin-left: 20px;
            }
            .online_body {
                width: 100%;
                height: 100%;
                position: absolute;
                left: 100%;
                top: 0;
                transition: all 0.3s ease 0s;
                background: #fff;
            }
            .online_t {
                height: 149px;
                position: relative;
                text-align: center;
                border-bottom: solid 1px #ececec;
            }
            .online_t .online_ico {
                width:100px;
                height:100px;
                margin: .5em 0;
            }
            .online_t .online_name {
                font-size: 18px;
                padding:0;
                margin:0;
            }
            .online_list,.group_list{
                -moz-box-flex: 1;
                -webkit-box-flex: 1;
                box-flex: 1;
                flex: 1;
                overflow: hidden;
                /*overflow-y: auto;*/
            }
            .groupAdd{
                position: absolute;
                left:5px;
                bottom:10px;
                cursor: pointer;
                /*z-index: 10;*/
            }
            .groupBtn{
                position: absolute;
                right:5px;
                bottom:10px;
                cursor: pointer;
                /*z-index: 10;*/
            }
            .online_pt{
                padding:1em;
            }
            .popupBoxM .online_pt:hover{
                background-color:#efefef;
                cursor: pointer;
            }
            .popupBoxM .selectAddList_m .online_pt:first-child:hover {
                background-color: transparent;
                cursor: default;
            }
            .online_ico {
                width: 40px;
                height: 40px;
                border: solid 1px #ccc;
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                -o-border-radius: 4px;
                -ms-border-radius: 4px;
                border-radius: 4px;
            }
            .online_name{
                margin-top:1em;
            }
            .popupBox .online_list{
                width:auto;
            }
            .groupT{
                font-size: 14px;
                height: 48px;
                line-height: 48px;
                border-bottom: solid 1px #efefef;
                padding:0 10px;
            }
            .privateChat{
                position: absolute;
                z-index: 1;
                right:10px;
                top:1em;
                cursor: pointer;
            }
            .navsocket{
                background-color:#fefefe;
            }
            .navsocket .col-xs-4 {
                height:50px;
                line-height:50px;
            }
            .navsocket .activate{
                background-color: #ccc;
            }
            .message_list h4{
                font-size: 16px;
            }
            .newMsgTip{
                display: none;
                position: absolute;
                background-color: red;
                color: #fff;
                height: 16px;
                width: 33px;
                line-height: 16px;
                border-radius: 10px;
                top: 10px;
                box-shadow: 1px 1px 1px #333;
            }

        include footjs
        script(src='/js/iscroll-master/build/iscroll.js')
        script(src='/js/username.js')
        script(src='/js/socket.io.js')
        script.
            $(function(){
                //alert($(window).height());
                $(".socket_content").css({"height":$(window).height()-102,"overflow":"hidden"});
                $(window).resize(function(){
                    $(".socket_content").css({"height":$(window).height()-102,"overflow":"hidden"});
                });
                $(".group_list").show();
                var myScroll_onlineList = new IScroll('#online_list',{mouseWheel: true,click:true});
                var myScroll_copy_onlineList = new IScroll('.copy_onlineList',{mouseWheel: true,click:true});
                var myScroll_select_onlineList = new IScroll('.selectAddList_m',{mouseWheel: true,click:true});
                var myScroll_groupList = new IScroll('.group_list',{mouseWheel: true,click:true});
                $(".group_list").hide();

                //底部菜单点击
                $(".navb_btn").click(function(){
                    var $this = $(this);
                    var index = $this.index();
                    $(".navb_btn").removeClass("activate");
                    $this.addClass("activate");
                    if($this.hasClass("cs_btn")){
                        $(".dname_show").text("所有人");
                        $(".back,.members").hide();
                        $(".msgBody").empty();
                        $("#sendBtn").removeAttr("data-userdata");
                        var msgtxt = localmsg("所有人");
                        $(".msgBody").append(msgtxt);
                    }
                    if($this.hasClass("msg_btn")){
                        $(".newMsgTip").hide();
                    }
                    $(".module_page").removeClass("activate_page").eq(index).addClass("activate_page");
                });

                var isfocus = true;
                var socket = io.connect('http://192.168.1.120:3000/chat');

                socket.on('connect', function() {
                        console.log('连接成功！');
                        //socket.emit('my other event', { my: 'data' });
                });
                socket.on('reconnect', function() {
                    //alert('重连成功！');
                    //socket.emit('my other event', { my: 'data' });
                    socket.emit('goin', {"nickname": $(".online_t .online_name").text()||randomNickName});
                    $(".online_pt").remove();
                });
                socket.on('connect_failed', function () {
                    alert("与服务器通讯失败。");
                });
                socket.on('disconnect', function () {
                    console.log("与服务器连接断开。");
                    $("body").append('<div id="errsocket">与服务器连接已断开！</div>');
                    $("#errsocket").css({"height":"48px","lineHeight":"48px","width":"150px","position":"absolute","zIndex":"10005","left":"50%","marginLeft":"-75px","top":"50%","marginTop":"-24px","backgroundColor":"red","color":"#fff","textAlign":"center","borderRadius":"8px"});
                    window.setTimeout(function(){$("#errsocket").fadeOut(function(){$("#errsocket").remove();})},2000);
                });
                //登录进来后的处理
                socket.on('login', function (data) {
                    console.log(data);
                    var userData = JSON.stringify(data.userData);
                    $(".skloginBoxBG,.skloginBox").remove();
                    $(".online_t .online_name").text(data.userData.nickname).attr("data-id",data.userData.id).attr("data-userdata",userData);
                    $(".selectAddList_m .scroller").html('<div style="cursor:default;" class="online_pt clearfix relative"><img class="online_ico lfloat" src="images/head.gif" alt=""><div class="online_name">'+data.userData.nickname+'</div></div>');
                    $(".selectAddList_m .online_pt:first").attr("data-userdata",userData);
                    //获取id绑定单对单（私聊）
                    socket.on(data.userData.id, function (data) {
                        console.log(data);
                        var userdata = JSON.stringify(data.from);
                        var time = new Date();
                        time.setTime(data.time);
                        var timetxt = (time.getMonth() + 1) + '-' + time.getDate() + ' ' + time.getHours() + ':' + time.getMinutes();
                        if($(".socketBox_page").hasClass("activate_page") && data.from.nickname == $(".dname_show").text()){
                            $(".socketBox_msgM .msgBody").append('<div class="msgList msgList_your clearfix"><div class="msgListYour_ico lfloat"><img src="images/head.gif" alt=""></div><div class="msgListYour_txt"><div class="sayname">来自' + data.from.nickname + '的私信<span class="saytime">' + timetxt + '</span></div><div class="txt_module">' + data.message + '</div></div></div>');
                            $(".socketBox_msgM").scrollTop($(".msgBody").outerHeight());
                        }else{
                            var title;
                            if(data.title){
                                title = data.title;
                            }else if(data.from){
                                title = data.from.nickname
                            }else{
                                title = "所有人"
                            }
                            var t = '<div class="media" data-userdata=\''+userdata+'\'><div class="media-left"><a href="#"><img src="images/head.gif" alt="" class="media-object"></a></div><div class="media-body"><h4 class="media-heading">'+title+'</h4><p>'+data.message+'</p></div></div>'
                            $(".message_list").append(t);
                            $(".newMsgTip").show().addClass("shake_short");
                            window.setTimeout(function(){$(".newMsgTip").removeClass("shake_short");},2000);
                        }

                        //缓存消息单聊消息
                        if (window.localStorage) {
                            localStorage.getItem(data.from.nickname) ? localStorage.setItem(data.from.nickname, localStorage.getItem(data.from.nickname) + ',' + JSON.stringify(data)) : localStorage.setItem(data.from.nickname, JSON.stringify(data));
                        }
                        //PC端消息桌面提示（如果支持）
                        if(!isfocus){
                            showNotification(data);
                        }
                    });
                });

                //在线列表
                function showonline(data){
                    var txts = [],txt = '';
                    var currentid = $(".online_t .online_name").attr("data-id");
                    if(data.length){
                        $.each(data,function(i,n){
                            if(n.id == currentid){
                                return;
                            }
                            var ud = JSON.stringify(n);
                            var userData = "data-userdata='"+ud+"'";
                            txt = '<div class="online_pt clearfix relative" data-id="'+n.id+'" ' + userData + '><img class="online_ico lfloat" src="images/head.gif" alt="" /><div class="online_name">'+n.nickname+'</div></div>';
                            txts.push(txt);
                        });
                    }else{
                        if(n.id == currentid){
                            return;
                        }
                        var ud = JSON.stringify(data);
                        var userData = "data-userdata='"+ud+"'";
                        txt = '<div class="online_pt clearfix relative" data-id="'+data.id+'" ' + userData + '><img class="online_ico lfloat" src="images/head.gif" alt="" /><div class="online_name">'+data.nickname+'</div></div>';
                        txts.push(txt);
                    }
                    return txts;
                }
                //刷新在线列表
                socket.on('refreshOnline', function (data) {
                    console.log(data);
                    var txts = showonline(data);
                    $(".online_list .scroller").append(txts.join(""));
                    myScroll_onlineList.refresh();
                    myScroll_copy_onlineList.refresh();
                });
                //有人进来时处理
                socket.on('userJoined', function (data) {
                    console.log(data);
                    var txts = showonline(data);
                    $(".online_list .scroller").append(txts.join(""));
                    myScroll_onlineList.refresh();
                    myScroll_copy_onlineList.refresh();
                    $(".socketBox_msgM .msgBody").append('<div style="text-align:center;">' + data.nickname + ' 进来了。</div>');
                    $(".socketBox_msgM").scrollTop($(".msgBody").outerHeight());
                });
                //接收到被人拉入讨论组时处理
                socket.on('newgroup', function (data) {
                    console.log(data);
                    $(".socketBox_msgM .msgBody").append('<div style="text-align:center;">' + data.master.nickname + ' 把你加进了讨论组 《'+data.title+'》</div>');
                    $(".socketBox_msgM").scrollTop($(".msgBody").outerHeight());
                    var htmls = [],html='';
                    $.each(data.member,function(i,n){
                        var userdata = JSON.stringify(n);
                        userdata = "data-userdata='"+userdata+"'";
                        html = '<div class="online_pt clearfix"><img class="online_ico lfloat" src="images/head.gif" alt="" /><div class="online_name" '+userdata+'>'+n.nickname+'</div></div>';
                        htmls.push(html);
                    })
                    //var groupn = htmls.join("");
                    var txt = '<div class="group" data-gid="' + data.gid + '" data-userdata=\''+JSON.stringify(data)+'\'><div class="groupT" data-gid="'+data.gid+'">'+data.title+'</div></div>';
                    $(".group_list .scroller").append(txt);
                    myScroll_groupList.refresh();
                    //var txt1 = '<option value=\''+JSON.stringify(data)+'\'>讨论组:'+data.title+'</option>';
                    //$(".msgto select").append(txt1);
                });
                //接收到有人离开时处理
                socket.on('left', function (data) {
                    console.log(data);
                    var nickname = data.userData.nickname;
                    $(".socketBox_msgM .msgBody").append('<div style="text-align:center;">' + nickname + ' 离开了。</div>');
                    $(".online_pt[data-id='"+data.userData.id+"']").remove();
                    $(".socketBox_msgM").scrollTop($(".msgBody").outerHeight());
                    $(".online_name:contains('"+nickname+"')").remove();
                    //$(".msgto select option:contains('"+nickname+"')").remove();
                    myScroll_onlineList.refresh();
                    myScroll_copy_onlineList.refresh();
                });
                //接收到消息的处理
                socket.on('postmsg', function (data) {
                    console.log(data);
                    var userdata = JSON.stringify(data.from);
                    var time = new Date(),msg = "",title,tempuserdata={};
                    time.setTime(data.time);
                    var timetxt = (time.getMonth()+1)+'-'+ time.getDate()+' '+ time.getHours()+':'+ time.getMinutes();
                    //针对讨论组还是所有人分别处理
                    if(data.gid){
                        data.master = data.from;
                        data.member = data.to;
                        tempuserdata = data;
                        title = data.title;
                        msg = '<div class="msgList msgList_your clearfix"><div class="msgListYour_ico lfloat"><img src="images/head.gif" alt=""></div><div class="msgListYour_txt"><div class="sayname">来自讨论组：《'+data.title+'》 '+data.from.nickname+'的信息<span class="saytime">'+timetxt+'</span></div><div class="txt_module">'+data.message+'</div></div></div>';
                    }else{
                        //只会存在所有人，因为单聊的在上面处理了
                        tempuserdata = data.from;
                        tempuserdata.to = "all";
                        title = "所有人";
                        /*if(data.to == "all"){
                            tempuserdata.to = "all";
                            title = "所有人";
                        }else{
                            title = data.from&&data.from.nickname;
                        }*/
                        msg = '<div class="msgList msgList_your clearfix"><div class="msgListYour_ico lfloat"><img src="images/head.gif" alt=""></div><div class="msgListYour_txt"><div class="sayname">'+data.from.nickname+'<span class="saytime">'+timetxt+'</span></div><div class="txt_module">'+data.message+'</div></div></div>';
                    }

                    //如果是当前聊天窗口则插入消息，否则插入消息提示
                    if($(".socketBox_page").hasClass("activate_page") && title == $(".dname_show").text()){
                        $(".socketBox_msgM .msgBody").append(msg);
                    }else{
                        var t = '<div class="media" data-userdata=\'' + JSON.stringify(tempuserdata) + '\'><div class="media-left"><a href="#"><img src="images/head.gif" alt="" class="media-object"></a></div><div class="media-body"><h4 class="media-heading">吹水区</h4><p>'+data.message+'</p></div></div>'
                        $(".message_list").append(t);
                        //消息图标抖动效果
                        $(".newMsgTip").show().addClass("shake_short");
                        window.setTimeout(function(){$(".newMsgTip").removeClass("shake_short");},2000);
                    }
                    //将消息写入缓存
                    if (window.localStorage) {
                        localStorage.getItem(title) ? localStorage.setItem(title, localStorage.getItem(title) + ',' + JSON.stringify(data)) : localStorage.setItem(title, JSON.stringify(data));
                    }

                    $(".socketBox_msgM").scrollTop($(".msgBody").outerHeight());
                    //PC端消息桌面提示（如果支持）
                    if(!isfocus){
                        showNotification(data);
                    }

                });

                //随机用户名
                var l = randomname.length+1;
                var n = Math.floor(Math.random()*l);
                var randomNickName = randomname[n];
                $(".randomNickName").text(randomNickName);

                $(".changeNickName").click(function(){
                    var n = Math.floor(Math.random()*l);
                    var randomNickName = randomname[n];
                    $(".randomNickName").text(randomNickName);
                })
                $(".sendNickName").click(function(){
                    var nicknamev = $.trim($("input.nicknamev").val()) || $(".randomNickName").text();
                    if(nicknamev != ''){
                        socket.emit('goin', {"nickname": nicknamev});
                    }
                });
                $(".nicknamediy").change(function () {
                    if($(this).prop("checked")){
                        $(".nickname").css("color","#000");
                        $("input.nicknamev").css("background-color","#fff");
                    }else{
                        $(".nickname").css("color","#ccc");
                        $("input.nicknamev").css("background-color","#efefef");
                    }
                });
                $(document).on("click",".groupT",function(){
                    var gid = $(this).attr("data-gid");
                    $("#sendBtn").attr("data-gid",gid);
                });

                //消息发送按钮
                $("#sendBtn").click(function(){
                    var $this = $(this),fromid = "",toid = "";
                    var msg = $("#inputMsg").val();
                    var tt = new Date().getTime();
                    //var msgto = $(".msgto select").val();
                    var msgto = $this.attr("data-userdata") || 'all';
                    if(!!msg){
                        var txt = '<div class="msgList msgList_me clearfix"><div class="msgListMe_ico rfloat"><img src="images/head.gif" alt=""></div><div class="msgListMe_txt"><div class="txt_module" id="msg'+tt+'">'+msg+'</div></div></div>';
                        var msgData = {
                            "message":msg,
                            "from":$(".online_t .online_name").attr("data-id"),
                            "to":"all"
                        };
                        if (msgto&&msgto != "all") {
                            msgto = JSON.parse(msgto);
                            //from = $(".online_t .online_name").attr("data-id");
                            to = msgto.id;
                            if(msgto.title){
                                to = msgto.member;
                                txt = '<div class="msgList msgList_me clearfix"><div class="msgListMe_ico rfloat"><img src="images/head.gif" alt=""></div><div class="msgListMe_txt"><div class="sayname">消息发给讨论组：《'+msgto.title+'》</div><div class="txt_module" id="msg'+tt+'">'+msg+'</div></div></div>';
                                msgData.gid = msgto.gid;
                                msgData.title = msgto.title;
                            }else{
                                txt = '<div class="msgList msgList_me clearfix"><div class="msgListMe_ico rfloat"><img src="images/head.gif" alt=""></div><div class="msgListMe_txt"><div class="sayname">消息发给：'+msgto.nickname+'</div><div class="txt_module" id="msg'+tt+'">'+msg+'</div></div></div>';
                            }
                            //msgData.from = from;
                            msgData.to = to;
                        }
                        $(".socketBox_msgM .msgBody").append(txt);
                        $(".socketBox_msgM").scrollTop($(".msgBody").outerHeight());
                        socket.emit('postmsg',msgData,function(msgtime){
                            $("#inputMsg").val("");
                            var title = $(".dname_show").text();
                            msgData.from = JSON.parse($(".online_t .online_name").attr("data-userdata"));
                            msgData.time = msgtime;
                            if (window.localStorage) {
                                localStorage.getItem(title) ? localStorage.setItem(title, localStorage.getItem(title) + ',' + JSON.stringify(msgData)) : localStorage.setItem(title, JSON.stringify(msgData));
                            }
                        });
                    }else{
                        $this.prop("disabled",true);
                        $this.text('内容不能为空');
                        window.setTimeout(function(){
                            $this.prop("disabled",false);
                            $this.text('发送');
                        },1000)
                    }
                })

                //创建讨论组
                $(".groupAdd").click(function(){
                    var w = $(window).width();
                    if(w < 500){
                        $(".popupBox").css({"width":w,"left":"50%","marginLeft":-w*.5});
                    }
                    $(".popupBoxBG").show();
                    $(".popupBox").show();
                    myScroll_copy_onlineList.refresh();
                    myScroll_copy_onlineList.refresh();
                });

                //新建群组列表点击
                $(document).on("tap click",".popupBoxM .online_list .online_pt",function(){
                    var id = $(this).attr("data-id"),hover = "";
                    $(".popupBoxM .selectAddList_m .scroller .online_pt").each(function(i,n){
                        var sid = $(this).attr("data-id");
                        if (sid == id) {
                            hover = true;
                            return false;
                        }
                    })
                    if(hover){
                        alert("联系人已存在");
                        return false;
                    }
                    var copy = $(this).clone();
                    $(".selectAddList_m .scroller").append(copy);
                    myScroll_select_onlineList.refresh();
                });
                $(document).on("click",".popupBoxM .selectAddList_m .scroller .online_pt:not(:first)",function(){
                    $(this).remove();
                    myScroll_select_onlineList.refresh();
                });

                //关闭弹出窗
                $(document).on("click",".closePopup,.groupcancel",function(){
                    $(this).parents(".popupBox").hide();
                    $(".popupBoxBG").hide();
                    $(".selectAddList_m .scroller .online_pt:not(:first)").remove();
                })

                //创建群组确定
                $(".groupSend").click(function(){
                    var t = $(".groupTitle").val();
                    if(!t){
                        alert("讨论组名称不能为空！");
                        return false;
                    }
                    var member = [];
                    $(".selectAddList_m .online_pt").each(function(i,n){
                        var userdata = JSON.parse($(this).attr("data-userdata"));
                        member.push(userdata);
                    });
                    var data = {
                        "title" : t,
                        "member" : member
                    };
                    socket.emit('newgroup',data,function(d){
                        //var txt1 = '<option value=\''+JSON.stringify(d)+'\'>讨论组:'+d.title+'</option>';
                        var txt = '<div class="group" data-gid="'+d.gid+'" data-userdata=\'' + JSON.stringify(d) + '\'><div class="groupT">' + t + '</div></div>';
                        //$(".msgto select").append(txt1);
                        $(".group_list .scroller").append(txt);
                    })

                    $(".groupTitle").val("");
                    $(".selectAddList_m .scroller .online_pt:not(:first)").remove();
                    $(this).parents(".popupBox").hide();
                    $(".popupBoxBG").hide();
                })

                //点击讨论组
                $(".groupBtn").click(function(){
                    var txt = $(this).text();
                    var $p = $(this).parents(".online_body");
                    if(txt == "讨论组"){
                        $(this).text("在线列表");
                        $p.find(".online_list").hide();
                        $p.find(".group_list").show();
                    }else{
                        $(this).text("讨论组");
                        $p.find(".online_list").show();
                        $p.find(".group_list").hide();
                    }
                })

                function showNotification(data){
                    if(Notification){
                        Notification.requestPermission(function(result) {
                            if (result === 'granted') { //允许
                                var notification = new Notification(data.from.nickname,{
                                    body : data.message,
                                    icon : 'http://img02.muzhiwan.com//2015/04/24/com.GoodFeel.Tokidora_110914/5539c2d2ac5e4_98.png',
                                    tag : {} // 可以加一个tag
                                });
                                window.setTimeout(function(){notification.close()},3000);
                                notification.onclick = function(){
                                    //alert('点击了消息');
                                    window.focus();
                                }
                            } else if (result === 'denied') { //拒绝
                                console.log('拒绝了消息提示');
                            }
                        });
                    }
                }

                //在线列表、讨论组列表、消息列表点击
                $(document).on("click",".socket_box .online_pt,.socket_box .group,.message_list .media",function(){
                    var $this = $(this);
                    var userdata = $this.attr("data-userdata");
                    var userdataJSON = JSON.parse(userdata);
                    var dname_show;
                    if(userdataJSON.gid){
                        dname_show = userdataJSON.title;
                        $(".members").show();
                    }else{
                        if(userdataJSON.to == "all"){
                            dname_show = "所有人";
                        }else{
                            dname_show = userdataJSON.nickname;
                        }
                        $(".members").hide();
                    }
                    $(".dname_show").text(dname_show).attr("data-id",userdataJSON.gid||userdataJSON.id);
                    $(".module_page").removeClass("activate_page");
                    $(".socketBox_page").addClass("activate_page");
                    $("#sendBtn").attr("data-userdata",userdataJSON.to=="all"?"":userdata);
                    $(".msgBody").empty();
                    //if ($this.hasClass("media")) {
                    var msgtxt = localmsg(dname_show);
                    $(".msgBody").append(msgtxt);
                    if ($this.hasClass("media")) {
                        $(".back").attr("data-top", "2").show();
                    } else {
                        $(".back").attr("data-top", "1").show();
                    }

                });
                //获取缓存消息
                function localmsg(dname_show){
                    var msgtxt = '';
                    if(window.localStorage){
                        var historymsg = window.localStorage.getItem(dname_show);
                        if(historymsg){
                            var me = $(".online_t .online_name").attr("data-id");
                            var historyMsg = JSON.parse('['+window.localStorage.getItem(dname_show)+']');
                            $.each(historyMsg,function(i,n){
                                var time = new Date(),msg = "",title;
                                time.setTime(n.time);
                                var timetxt = (time.getMonth()+1)+'-'+ time.getDate()+' '+ time.getHours()+':'+ time.getMinutes();
                                if(n.gid){
                                    title = n.title;
                                    if(me == n.from.id){
                                        msg = '<div class="msgList msgList_me clearfix"><div class="msgListMe_ico rfloat"><img src="images/head.gif" alt=""></div><div class="msgListMe_txt"><div class="sayname">' + n.from.nickname + '<span class="saytime">' + timetxt + '</span></div><div class="txt_module">' + n.message + '</div></div></div>';
                                    }else{
                                        msg = '<div class="msgList msgList_your clearfix"><div class="msgListYour_ico lfloat"><img src="images/head.gif" alt=""></div><div class="msgListYour_txt"><div class="sayname">来自讨论组：《'+n.title+'》 '+n.from.nickname+'的信息<span class="saytime">'+timetxt+'</span></div><div class="txt_module">'+n.message+'</div></div></div>';
                                    }

                                }else{
                                    title = n.from.nickname;
                                    if(me == n.from.id){
                                        msg = '<div class="msgList msgList_me clearfix"><div class="msgListMe_ico rfloat"><img src="images/head.gif" alt=""></div><div class="msgListMe_txt"><div class="sayname">'+n.from.nickname+'<span class="saytime">'+timetxt+'</span></div><div class="txt_module">'+n.message+'</div></div></div>';
                                    }else{
                                        msg = '<div class="msgList msgList_your clearfix"><div class="msgListYour_ico lfloat"><img src="images/head.gif" alt=""></div><div class="msgListYour_txt"><div class="sayname">'+n.from.nickname+'<span class="saytime">'+timetxt+'</span></div><div class="txt_module">'+n.message+'</div></div></div>';
                                    }
                                }
                                msgtxt+=msg;
                            });
                        }
                    }
                    return msgtxt;
                }
                $(document).on("click",".message_list .media",function(){

                });

                $(window).on("blur",function(){
                    isfocus = false;
                    //console.log("失去焦点")
                }).on("focus",function(){
                    isfocus = true;
                    //console.log("获得焦点")
                }).on("unload",function(){
                    window.localStorage&&window.localStorage.clear();
                });
            });