extends layout
block content
    div.content.socket_content
        .socket_box.clearfix
            .socketBox_page.left
                .socketBox_msgT.clearfix
                    span.dname_show 吹水区
                .socketBox_msgM
                    .msgBody
                        .msgList.msgList_your.clearfix
                            .msgListYour_ico.lfloat
                                img(src="images/head.gif",alt="")
                            .msgListYour_txt
                                .txt_module 说点什么吧
                        .msgList.msgList_me.clearfix
                            .msgListMe_ico.rfloat
                                img(src="images/head.gif",alt="")
                            .msgListMe_txt
                                .txt_module 说点什么好呢？
                        .msgList.msgList_your.clearfix
                            .msgListYour_ico.lfloat
                                img(src="images/head.gif",alt="")
                            .msgListYour_txt
                                .txt_module 说点什么吧说点什么吧说点什么吧说点什么吧说点什么吧说点什么吧说点什么吧说点什么吧说点什么吧说点什么吧说点什么吧说点什么吧说点什么吧说点什么吧说点什么吧说点什么吧说点什么吧说点什么吧说点什么吧！
                        .msgList.msgList_me.clearfix
                            .msgListMe_ico.rfloat
                                img(src="images/head.gif",alt="")
                            .msgListMe_txt
                                .txt_module 说点什么好呢？
                        .msgList.msgList_me.clearfix
                            .msgListMe_ico.rfloat
                                img(src="images/head.gif",alt="")
                            .msgListMe_txt
                                .txt_module 说点什么吧说点什么吧说点什么吧说点什么吧说点什么吧说点什么吧说点什么吧说点什么吧说点什么吧说点什么吧说点什么吧说点什么吧说点什么吧说点什么吧说点什么吧说点什么吧说点什么吧说点什么吧说点什么吧说点什么好呢？
                .socketBox_msgB
                    .sendBoxBtn
                        .face
                            img(src="images/face.png",alt="",id="sendFace")
                            img(src="images/face1.png",alt="",id="sendFile")
                        input(type="text",id="inputMsg")
                        button(type="button",id="sendBtn") 发送
                    .sendBoxInfo
                        .face_ico
                            -for(var i=1;i<=85;i++)
                                -if(i<10)
                                    -var ii = '00' + i
                                -if(i>=10)
                                    -var ii = '0' + i
                                img(src="images/faces/#{ii}.png",alt="")
                        .file_ico
                            .uppic
                                form#uploadForm(action="",target="",method="post",enctype="multipart/form-data")
                                    input.uploadfile(type="file",name="upfile",style="width:auto; cursor: pointer;")
                                    img.uploadIco(src="images/file.png",alt="")
                            .recordBox
                                .recordIco.recordStar(title="录音")
                                    img(src="images/audio1.png",alt="")
                                .recordIco.recordStop(style="display: none;",title="停止")
                                    img(src="images/audio1.png",alt="")
                                span(style="display:none;position: absolute;top: 24px;left:-10px;width:80px;color:#fff;")
                                    |录音中
                                    img(src="images/ajax-loader.gif",style="height: 6px;vertical-align: middle",alt="")

            .online_body
                .online_t
                    img.online_ico(src="images/head.gif",alt="")
                    div.online_name(data-uid="sk1") 名字
                .online_list
                    div.online_pt.clearfix
                        img.online_ico.lfloat(alt="")
                        div.online_name(data-uid="sk1") 名字
                    div.online_pt.clearfix
                        img.online_ico.lfloat(alt="")
                        div.online_name(data-uid="sk2") 名字
                    div.online_pt.clearfix
                        img.online_ico.lfloat(alt="")
                        div.online_name(data-uid="sk3") 名字
                    div.online_pt.clearfix
                        img.online_ico.lfloat(alt="")
                        div.online_name(data-uid="sk4") 名字
    .skloginBoxBG
    .skloginBox
        .skloginbody
            h1 Hi,已为您随机选择了昵称：
                span.randomNickName
            .nickname
                input.nicknamediy(type="checkbox")
                |自己来：
                input.nicknamev(type="text")
            .skloginBtn
                button.sendNickName.btn(type="button") 确定
                button.changeNickName.btn(type="button") 换个昵称
    style.
        .skloginBoxBG{
            height: 100%;
            width: 100%;
            position: absolute;
            z-index: 100;
            top:0;
            left:0;
            background-color: rgba(0,0,0,.5);
        }
        .skloginBox{
            position: absolute;
            z-index: 101;
            width: 300px;
            height:200px;
            left:50%;
            margin-left: -150px;
            top:50%;
            margin-top:-120px;
            padding:8px;
            border:solid 1px #efefef;
            background-color: rgba(0,0,0,.3);
            border-radius: 6px;
        }
        .skloginbody{
            height: 100%;
            background-color: #fff;
        }
        .skloginbody h1{
            font-size: 14px;
            padding:2em 1em 1em;
        }
        .nickname{
            padding:1em;
            color: #ccc;
        }
        .nicknamediy{
            vertical-align: middle;
        }
        input.nicknamev{
            background-color: #efefef;
        }
        .skloginBtn{
            padding:1em;
            text-align: center;
        }
        .skloginBtn button{
            margin:0 .5em;
        }
        .socket_content{
            position: relative;
        }
        .socketBox_page{
            border: solid 1px #333;
            height:500px;
            width:60%;
            position: relative;
            background-color:#ececec;
            display: -moz-box;
            -moz-box-orient: vertical;
            -webkit-box-orient: vertical;
            box-orient: vertical;
            display: flex;
            flex-direction: column;
            display: -webkit-box;
            margin-top:2em;
        }
        .online_name {
            padding-left: 50px;
        }
        .socketBox_msgT, .socketBox_msgB {
            width:100%;
            background-color: #474747;
        }
        .socketBox_msgT {
            height: 40px;
            line-height: 40px;
            top:0;
            color:#fff;
            text-align: center;
            border-bottom: solid 1px #999;
        }
        .socketBox_msgB{
            bottom: 0;
            border-top: solid 1px #999;
            height: auto;
            padding: .5em 0;
            position: relative;
        }
        .sendBoxBtn{
            display: -moz-box;
            display: flex;
            display: -webkit-box;
        }
        .face{
            -moz-box-flex: 1;
            -webkit-box-flex: 1;
            box-flex: 1;
        }
        .face img {
            margin-left: 10px;
            cursor: pointer;
            vertical-align: middle;
        }
        .socketBox_msgB #inputMsg{
            display: block;
            border: solid 1px #ccc;
            box-shadow: inset 1px 1px 3px #333;
            padding: 3px;
            -moz-box-flex: 4;
            -webkit-box-flex: 4;
            box-flex: 4;
        }
        .socketBox_msgB #sendBtn{
            display: block;
            margin:0 1em;
            background-color: #efefef;
            border: solid 1px #999;
            padding: 3px 0;
            -moz-box-flex: 1;
            -webkit-box-flex: 1;
            box-flex: 1;
            border-radius: 4px;
            box-shadow: 1px 1px 0 #000;
            outline: none;
            border:solid 1px #fff;
        }
        .face_ico,.file_ico{
            display: none;
            padding:10px 5px;
        }
        .face_ico img{
            margin:4px;
        }
        .socketBox_msgB #sendBtn:active{
            background-color: #ccc;
            box-shadow: none;
        }
        .uppic,.recordBox{
            width: 24px;
            height: 24px;
            display: inline-block;
            position: relative;
            margin-left: 1em;
        }
        .uppic{
            overflow: hidden;
        }
        .uploadIco,.recordIco img{
            width:24px;
            height:24px;
            border:none;
            cursor: pointer;
        }
        .socketBox_msgM{
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            padding: 1em 0;
            position: relative;
            -moz-box-flex: 1;
            -webkit-box-flex: 1;
            box-flex: 1;
            overflow-y: auto;
        }
        .msgList{
            margin-bottom: 1em;
        }
        .msgListYour_ico,.msgListMe_ico{
            width: 40px;
            height:40px;
            margin:0 15px;
        }
        .msgListYour_ico img,.msgListMe_ico img{
            width: 100%;
            height:100%;
            border:solid 1px #333;
            border-radius: 4px;
        }
        .msgListYour_txt,.msgListMe_txt{
            margin:0 70px;
        }
        .txt_module{
            background-color: #fff;
            display: inline-block;
            border-radius: 10px;
            padding: 10px;
            position: relative;
        }
        .txt_module:before{
            content: "";
            height: 11px;
            width: 11px;
            color: #fff;
            position: absolute;
            left: -10px;
            top: 7px;
            background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAWCAYAAADEtGw7AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAASRJREFUeNq01LFKA0EQxvE1yEmMMRgLbSIqAUEU7LSzEBsrtbIRwbxEWkEI5BkE0UZrn8PCysonSBWxEEQc/wOzcEou3pnJBz8Cl+VbLtnZICLB2YWMofRULJ6lbUlFHzRHLKzjVn5Fv+jgyhYUKUzQQk8GRBcs4g193OMI5SGFu7jMKoyZ0MWkjU74mWe84wkrqGENMyFHYnGCR2wGp5Ts8wPHePUu1rzgbBzFmgd0XZozjtG1jJisIzWHO3x5F5ewhBt8ehbH8lV0bYAKJZ7jYX+uDscJWljWs19kQP4qn8c+zrGdZ/ryFMdMYwOHOEATFY9izaTdGVvYw45tUEc5PRdFi9MbVNGwt1i3DRYwi6n/FqeT2M9UtdKaV/HAa+JbgAEALlYXH2MTJmMAAAAASUVORK5CYII=") no-repeat;
            background-size: 100%;
        }
        .msgListMe_txt{
            text-align: right;
        }
        .msgListMe_txt .txt_module {
            background-color: #36f;
        }
        .msgListMe_txt .txt_module{
            text-align: left;
        }
        .msgListMe_txt .txt_module:before{
            background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAWCAYAAADEtGw7AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAUlJREFUeNq0lL1KA0EURmfjIghWPoM2VkJ8iJR2VlaKik8gFgZsBEGwEhQLUdQHsLAICIqFRcDSP0REIkpAUIJECbueK7cIMpud2Ww+OAyEu2cnd+5OUJyNY2PMCpRNjinougxTvRBL9mCxF2LJqr5gqEvvcMHyo7TkBqah31MoG9qRZwM9vKTUYRsq1S1zZisYnzMDLCWY1LUPRtLE7WnALXzAI4yBSEf/1S1JS0OPvzkIxZSaa1i3HV43+YIJ+MlbvAB3SeOWNQew32mOs6QC8xDlKT7XuW+kfXmukd0dwwy82QrCDNJv2NWxuk8q8hHLh/QMG3AEr52KQ0ehzOgpbMKFraeu4lj7KIIqHMKJ9jNKk3Kv/ImjNlkLPuEBLnWUrvQyavkchIjXoAnvUIMneNHLpumywyRxWR+OskpsCWLnW9MvvwIMANROU6D1D/OoAAAAAElFTkSuQmCC") no-repeat;
            background-size: 100%;
            right: -10px;
            left:auto;
        }
        .onling_n{
            padding:.5em;
            text-align: center;
        }
        .sayname{
            margin-bottom: 5px;
            color:#555;
            text-shadow: none;
        }
        .saytime{
            margin-left: 20px;
        }
        .online_body {
            width: 300px;
            height: 500px;
            position: absolute;
            right: 0;
            top: 0;
            margin-top: 2em;
            border: solid 1px #ececec;
        }
        .online_t {
            height: 149px;
            text-align: center;
            border-bottom: solid 1px #ececec;
        }
        .online_t .online_ico {
            width:100px;
            height:100px;
            margin: .5em 0;
        }
        .online_t .online_name {
            font-size: 18px;
            padding:0;
            margin:0;
        }
        .online_list {
            width: 300px;
            height: 350px;
            overflow-y: auto;
        }
        .online_pt{
            padding:1em;
        }
        .online_ico {
            width: 40px;
            height: 40px;
            border: solid 1px #ccc;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            -o-border-radius: 4px;
            -ms-border-radius: 4px;
            border-radius: 4px;
        }
        .online_name{
            margin-top:1em;
        }
    script(src='/js/username.js')
    script(src='/js/socket.io.js')
    script.
        $(function(){
            var socket = io.connect('http://localhost:3000/chat');
            socket.on('connect', function() {
                    console.log('连接成功！');
                    //socket.emit('my other event', { my: 'data' });
            });
            socket.on('connect_failed', function () {
                alert("与服务器通讯失败。");
            });
            socket.on('login', function (data) {
                console.log(data);
                $(".skloginBoxBG,.skloginBox").remove();
                $(".online_t .online_name").text(data.userData.nickname).attr("data-uid",data.userData.uid);
            });
            socket.on('refreshOnline', function (data) {
                console.log(data);
                var txts = [],txt = '';
                $.each(data,function(i,n){
                    txt = '<div class="online_pt clearfix"><img class="online_ico lfloat" src="images/head.gif" alt="" /><div class="online_name" data-uid="'+n.uid+'">'+n.nickname+'</div></div>';
                    txts.push(txt);
                });
                $(".online_list").html(txts.join(""));
            });
            socket.on('userJoined', function (data) {
                console.log(data);
                $(".socketBox_msgM .msgBody").append('<div style="text-align:center;">' + data.nickname + ' 进来了。</div>');
                $(".socketBox_msgM").scrollTop($(".msgBody").outerHeight());
            });
            socket.on('left', function (data) {
                console.log(data);
                $(".socketBox_msgM .msgBody").append('<div style="text-align:center;">' + data.userData.nickname + ' 离开了。</div>');
                $(".online_name[data-uid='"+data.userData.uid+"']").parent(".online_pt").remove();
                $(".socketBox_msgM").scrollTop($(".msgBody").outerHeight());
            });

            var l = randomname.length+1;
            var n = Math.floor(Math.random()*l);
            var randomNickName = randomname[n];
            $(".randomNickName").text(randomNickName).attr("data-uid","sk"+n);

            $(".sendNickName").click(function(){
                var nicknamev = $.trim($("input.nicknamev").val()) || $(".randomNickName").text();
                if(nicknamev != ''){
                    socket.emit('goin',{"nickname":nicknamev});
                }
            });
            $(".nicknamediy").change(function () {
                if($(this).prop("checked")){
                    $(".nickname").css("color","#000");
                    $("input.nicknamev").css("background-color","#fff");
                }else{
                    $(".nickname").css("color","#ccc");
                    $("input.nicknamev").css("background-color","#efefef");
                }
            });
        });