extends layout
block content
    include say
    div.content(style="padding:3em 0;")
        div.sort_t 查看:
            select#select_sort.select
                option 请选择分类
                option(value="CSS") CSS
                option(value="HTML") HTML
                option(value="JavaScript") JavaScript
                option(value="jQuery") jQuery
                option(value="node.js") node.js
                option(value="phoneGap") phoneGap
                option(value="其它") 其它
                option(value="all") 全部
        div#sort_box.sort_box.archive_list

            //-
                h1
                ul
                    -posts.forEach(function(post,index){
                        li
                            a(href="/article/#{post._id}",title="#{post.title}") #{post.title}
                            span #{post.time.minute}
                    -})
