header.top_nav_bg
    div(class='top_nav clearfix')
        div(class='top_nav_menu lfloat')
            h1
                a(href="/") 流逝的岁月
        div.rfloat.search
            form.rfloat(action='/search', method='GET', name='search')
                div.search_box
                    input(type="text",name="keyword",placeholder='请输入文章标题或搜索关键字')
                    button.btn(type="submit") 搜索
            a.all_archive.rfloat(href="/archive") 所有文章
            a.sort_archive.rfloat(href="/sort") 文章分类
            a.socket.rfloat(href="/socket") 吹水区