html,body{
    padding:0;
    height:100%;
}
.section {
    max-width: 100%;
}

/****表格样式1********/
table,th,td{
    border-collapse: collapse;
    background:#fff;
}
.table{
    width:100%;
}
.table,.table td{
    border:solid 1px #ccc;
}
.table th{
    border:solid 1px #ccc;
    width:100px;
}
.table thead tr td{
    background: #eee;
    color:#333;
}
th,td{
    padding:8px 8px;
}
.header{
    height:50px;
    background-color: #fafafa;
    background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));
    background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
    background-repeat: repeat-x;
    border-bottom: 5px solid #d4d4d4;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
    *zoom: 1;
}
.logo{
    padding-left: 2em;
    line-height: 50px;
}
.headnav{
    margin-right: 2em;
}
.headnav li{
    display:inline-block;
    *display:inline;
    zoom:1;
    margin:20px 1em 0;
}
.submenu_box{
    width: 200px;
    height: 100%;
    border-right: solid 1px #ccc;
    background-color: #fff;
}
.submenu_box dt{
    font-size: 14px;
    font-weight: bold;
    padding:.5em 2em;
    background-color: #ccc;
}
.submenu_box dd a{
    color: #555;
    display: block;
    padding:.5em 2em .5em 4em;
}
.submenu_box dd a:hover{
    background-color: #efefef;
    text-decoration: none;
}
.submenu_box dd a.current{
    background-color: #efefef;
}
.submenu_content{
    margin-left: 200px;
    font-size:0;
    height: 100%;
}
.submenu_content iframe{
    height:100%;
    width:100%;
    border:0;
}
.send_blog{
    margin-top:2em;
    text-align: center;
}
.digestAccessory{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    height: 33px;
    width: 80px;
    margin-left: 1em;
    *display:inline;
    zoom:1;
}
.err_msg{
    padding:5px 0;
}
.pagebox {
    margin: 20px 0;
    overflow: hidden;
    text-align: center;
}
.jPaginate {
    display: inline-block;
    zoom: 1;
    width: auto;
    padding: 0 100px 0 77px;
}
.jPaginate a:hover {
    text-decoration: none;
}
.digestNetWorkPic .addBtn{
    cursor: pointer;
}
.headnav li.lmenu{
    display: none;
    cursor: pointer;
}
.submenu_box dd{
    display: none;
}
.addsocket_input{
    width:30%;
}
.laydate_box,.laydate_box *{
    box-sizing:initial;
}
@media all and (max-width: 849px){
    .current_head {
        width: 100%;
        float:none;
    }
    .set_head{
        margin-left: 0;
        margin-top:2em;
    }
}
@media all and (max-width: 639px){
.submenu_box{
    position: absolute;
    left: -200px;
}
.submenu_content{
    margin-left: 0;
}
.headnav li.lmenu{
    display: inline-block;
    *display:inline;
    zoom:1;
}
    .userCenter_data dd{
        padding-left: 1em;
    }
}
@media all and (max-width: 479px){
    .ui_ul_input label{
        width:6em;
        display: block;
        text-align: left;
    }
    .ui_ul_input label.lfloat{
        float: none;
    }
    .userIntro_txt{
        width:90%;
    }
    .userCenter_data dd select{
        width:6em;
    }
    .forgetpw{
        margin-left: 7em;
        display: block;
    }
    .blogbox input,.blogbox select{
        width:70% !important;
    }
    .blogbox input[type="file"]{
        width:auto !important;
    }
    .userCenter_data dd{
        padding-left:1em;
    }
    #schoolName,#workCompany{
        width:90%;
        margin-right: 0;
    }
    .ui_ul_input label.sex_man_txt{
        display: inline-block;
    }
    .show_head{
        width:100%;
    }
    .addsocket_input{
        width:100%;
    }
}
@media all and (max-width: 419px){
    .activateIM{
        margin: 0 auto 10px !important;
        display: block;
    }
}